.section-search {
  background: #4c84a7;
}

.search-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 15px;
}

.slider-offer-wrapper {
  border: 10px solid #f2e8e8;
  width: 100%;
  height: 100%;
}

.slider-img {
  width: 100%;
  /* height: 244px; */
  display: block;
}

.slider-text-wrapper {
  font-family: 'ArialMT';
  /* padding-top: 10px; */
  padding-left: 25px;
  height: 22%;
  color: #fff;
  font-weight: 400;
  background-color: #1a425a;
  border-top: 2px solid #3686b8;
}

.slider__title {
  display: block;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 10px;
  margin-top: 7px;
  margin-top: 10px;
}

.slider__text {
  display: block;
  font-size: 14px;
  line-height: 14px;
}

.fotorama__dot {
  border-radius: 5px;
  border: 5px solid #fff;
}

.fotorama__active .fotorama__dot {
  border-radius: 5px;
  border: 5px solid #2c5f7f;
}

.fotorama__nav__frame.fotorama__active .fotorama__dot {
  border-width: 5px;
}
.search-form-wrapper {
  position:relative;
}
.switcher {
  position:absolute;
  top:3px;
  left:0px;
  z-index:0;
  background-color: rgb(78, 142, 181);
  /* padding:15px 40px; */
  padding-top:15px;
  padding-bottom:20px;
  padding-left:40px;
  padding-right:40px;
  border-radius:10px;
  font-size: 22px;
  font-family: 'ArialMT';
  color:#fff;
  border:none;
  

}
.switcher-own {
  position:absolute;
  top:3px;
  left:165px;
}
.search__form {
  background-image: linear-gradient(to bottom, rgba(78, 142, 181, 1) 10%, rgba(78, 142, 181, 1) 0%, rgba(78, 142, 181, 0.4) 50%, rgba(225, 225, 225, 0) 100%);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  margin-top:45px;
  z-index:11111;

}

.form__address-heading {
  display: block;
  margin-top: 15px;
  color: #ffffff;
  font-family: 'ArialMT';
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

.form__address {
  display: block;
  margin-top: 15px;
  width: 339px;
  background-color: linear-gradient(to top, rgba(255, 255, 255, 0.11) 0%, rgba(0, 0, 0, 0.11) 100%);
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #347095;
  border: 3px solid #316e94;
  font-family: 'Microsoft Sans Serif';
  font-size: 17px;
  font-weight: 400;
  line-height: 21px;
  outline: none;
}

.form__address::-moz-placeholder {
  color: #347095;
}

/* Firefox 19+ */

.form__address:-moz-placeholder {
  color: #347095;
}

/* Firefox 18- */

.form__address:-ms-input-placeholder {
  color: #347095;
}

.form__address::-webkit-input-placeholder {
  color: #347095;
}

.form__address::-moz-placeholder {
  color: #347095;
}

.checkbox__wrapper {
  display: flex;
  align-items: center;
  margin-top: 10px;
  color: #fff;
}

.form__checkbox {
  display: none;
}

.checkbox__desc {
  display: block;
  font-family: 'ArialMT';
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  padding-left: 30px;
  cursor: pointer;
}

.checkbox__desc::before {
  content: '';
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: middle;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.07), inset 0 0 0 2px #fcfdfd;
  border: 2px solid #bbbbbb;
  border-radius: 3px;
  background: #e8e8e8;
  /*background-image: linear-gradient(to top, rgba(187, 187, 187, 0.4) 0%, rgba(209, 209, 209, 0.4) 50%, rgba(188, 188, 188, 0.4) 52%, rgba(187, 187, 187, 0.4) 100%);*/
  margin-left: -25px;
  margin-right: 7px;
  cursor: pointer;

}

.form__checkbox:checked+.checkbox__desc::before {
  content: url('../img/icons/Check.png');
  -webkit-background-size: 15px;
  background-size: 15px;
  text-align: center;
  vertical-align: center;
  line-height: 17px;
}

.select__wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  color: #fff;
  font-family: 'ArialMT';
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-align: right;
}
.select__wrapper:nth-last-child(2){
  padding-top:0;
}
.select__desc {
  display: block;
  margin-left: auto;
}

.select {
  width: 200px;
  border: 1px solid #bbbbbb;
  background-image: linear-gradient(to top, rgba(244, 244, 244, 0.4) 0%, rgba(243, 243, 243, 0.4) 50%, rgba(255, 255, 255, 0.4) 52%, rgba(255, 255, 255, 0.4) 100%);
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 0 0 black;
  padding-left: 22px;
  border-radius: 5px;
  color: #347095;
  margin-left: 22px;
}

.select__option {
  color: #347095;
  display: block;
  font-family: 'Lucida Sans';
  font-size: 14px;
  font-weight: 400;
  margin-left: auto;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.07), inset 0 0 0 2px #fcfdfd;
  border: 1px solid #bbbbbb;
  background-image: linear-gradient(to top, rgba(244, 244, 244, 0.4) 0%, rgba(243, 243, 243, 0.4) 50%, rgba(255, 255, 255, 0.4) 52%, rgba(255, 255, 255, 0.4) 100%);
}

.form__button {
  display: block;
  margin-left: auto;
  border: 3px solid #d7d7d7;
  background-image: linear-gradient(to top, #498ab2 0%, #6bb2dd 100%);
  padding: 7px 65px;
  border-radius:12px;
  font-size: 22px;
  color:#fff;
  font-family: 'ArialMT';
  cursor:pointer;
}